<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo.svg" width="40" height="40" alt="" class="mr-2">
    Browsify
    <span class="text-muted"><small>{{ appVersion }}</small></span>
  </a>

  <ng-container *ngIf="spotifyApi.isAuthenticated(); else loggedOut" class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="artists" routerLinkActive="active">Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tracks" routerLinkActive="active">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="related" routerLinkActive="active">Related</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="index" routerLinkActive="active">Index</a>
        </li>
      </ul>

      <span *ngIf="spotifyApi.userInfo" class="navbar-text mr-3">
        <img *ngIf="spotifyApi.userInfo.imageUrl" class="mr-2 circle-border" [src]="spotifyApi.userInfo.imageUrl"
          width="40" height="40" alt="">
        {{ spotifyApi.userInfo.name }}
      </span>
      <button class="btn btn-outline-danger" (click)="spotifyApi.disconnect()"><span class="oi oi-power-standby"
          title="Disconnect"></span></button>
    </div>
  </ng-container>
</nav>

<ng-template #loggedOut>
  <div class="container-fluid"></div>
  <button class="btn btn-outline-success" routerLink="/auth">Connect</button>
</ng-template>
