<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.svg" width="40" height="40" alt="" class="mr-2">
        Browsify
        <span class="text-muted"><small>{{ appVersion }}</small></span>
    </a>

    <ul class="navbar-nav mr-auto">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="artists" routerLinkActive="active">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="albums" routerLinkActive="active">Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="tracks" routerLinkActive="active">Tracks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="related" routerLinkActive="active">Related</a>
            </li>
        </ul>
    </ul>

    <button *ngIf="!spotifyApi.isAuthenticated()" class="btn btn-outline-success" routerLink="/auth">Connect</button>
    <div *ngIf="spotifyApi.isAuthenticated()">
        <span *ngIf="spotifyApi.userInfo" class="navbar-text mr-3">
            <img *ngIf="spotifyApi.userInfo.imageUrl" class="mr-2 circle-border" [src]="spotifyApi.userInfo.imageUrl" width="40" height="40" alt="">
            {{ spotifyApi.userInfo.name }}
        </span>
        <button class="btn btn-outline-danger" (click)="spotifyApi.disconnect()"><span class="oi oi-power-standby" title="Disconnect"></span></button>
    </div>
</nav>
