<div *ngIf="spotifyApi.isAuthenticated()" class="m-2">
    <div class="input-group m-3">
        <p class="lead">
            <button class="btn btn-outline-secondary mr-2" type="button" (click)="fetchAlbums()">
                <span class="oi oi-reload"></span>
            </button>
            Select albums randomly among the {{ spotifyApi.userInfo?.savedAlbumCount }} albums saved in your Spotify library.
        </p>
    </div>
    
    <div class="card-group">
        <div class="col-12 col-sm-6 col-md-3 col-xl-2" *ngFor="let saved of albums">
            <app-album-card [album]="saved.album" [saved]="true"></app-album-card>
        </div>
    </div>
</div>
