<div *ngIf="spotifyApi.isAuthenticated(); else loggedOut" class="m-2">
    <div class="input-group m-3">
        <p class="lead">
            <button class="btn btn-outline-secondary mr-2" type="button" (click)="fetchAlbums()">
                <span class="oi oi-reload"></span>
            </button>
            Select {{ albumCount }} albums randomly among the {{ spotifyApi.userInfo?.savedAlbumCount }} albums saved in your Spotify library.
        </p>
    </div>
    
    <div class="card-group">
        <div class="col-12 col-sm-6 col-md-3 col-xl-2" *ngFor="let saved of albums">
            <div class="card text-white bg-dark mb-3 border-0">
                <img class="card-img-top" [src]="saved.album.images[1].url" alt="Card image cap">
                <a class="btn btn-success" (click)="play(saved.album.uri)"><span class="oi oi-media-play"></span></a>
                <div class="card-body">
                  <h5 class="card-title">{{ saved.album.name }}</h5>
                  <p class="card-text"><span *ngFor="let artist of saved.album.artists">{{ artist.name }} </span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    <div class="jumbotron">
        <h1 class="display-4">Hello, fellow listener!</h1>
        <p class="lead">Connect your Spotify account to start browsing your music randomly!</p>
    </div>
</ng-template>
